<div class="container-fluid m-0 p-0 bg-success" style="height: 100vh; overflow: hidden;">
    <div class="row my-5">
        <div class="col"></div>
        <div class="col-md-3 my5 me-5" style="height: 400px;">
            <div class="card shadow p-4" style="height: 400px !important;">
                <form [formGroup]="adminLoginData" (ngSubmit)="adminLogin()">
                    <h4 class="text-success">Admin Login</h4>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName ="username">
                        <div *ngIf="adminLoginData.get('username')?.invalid && (adminLoginData.get('username')?.dirty || adminLoginData.get('username')?.touched )" class ="text-danger">
                            Enter valid email address
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInpuPassword1" formControlName ="password">                        
                        <div *ngIf="adminLoginData.get('password')?.invalid && (adminLoginData.get('password')?.dirty || adminLoginData.get('password')?.touched)" class ="text-danger">
                            This is required field
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success me-2 ms-auto" [disabled]="adminLoginData.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>